{% extends 'base.html' %}

{% block content %}
<div id="dashboard-wrapper" class="dashboard_view" style="display: none;">
    <h1 style="color: #333;">🎉 Welcome to Your Dashboard!</h1>
    <p style="color: #666;">You have successfully bypassed the login wall.</p>
    <hr style="margin: 20px 0; border: 0; border-top: 1px solid #ccc;">
    <p><strong>Account Type:</strong> Developer Mode</p>
</div>

<script>
document.addEventListener("DOMContentLoaded", async () => {
    async function load_dashboard(){
        console.log("function loaded")
        let response = await fetch('/api/dashboard/verify',{method:'GET'});
        let response_data = await response.json();
        console.log(response_data.success)
        console.log(response_data.status)
        

        try{
            if(response_data.success == true){
                console.log("access_token works")
                return;
            }
            else if(response_data.success == false && response.status == 401){
                console.log("token expired chekcing for refresh_token")
                
                let response_refresh = await fetch('/api/auth/refresh',{method:'POST'})
                let refresh_data = await response_refresh.json()
                console.log(refresh_data.success)
                if(refresh_data.success == false){
                    console.log("session expired log in again")
                    window.location.href = '/signin'
                }
                else if(refresh_data.success == true && refresh_data.status == 200){
                    console.log("new access token made")
                    return;
                }


            }

        }
        catch(error){
            console.log("Network error")
        }

    }
load_dashboard();
});

</script>
{% endblock %}