{% extends 'base.html' %}

{% block content %}
<div class="forgot-password-container">
  <h1>Login Page</h1>
  
  <form method="POST" id = "forgot-password">
   
    <label for="email">email</label>
    <input type="email" id="email" name="email">
    
    <button type="button" id="enter-email">SUBMIT</button>
    
  </form>
  <form method = 'POST' id = "OTP-field" style= "display:none"    >
    <label for="otp">OTP</label>
    <input type="text" id="otp" name="otp">
    <button type="button" id="enter-otp">SUBMIT</button>
  </form>
 <form method="POST" id="Reset_password" style="display:none">
  <label for="new_password">ENTER NEW PASSWORD</label>
  <div class="field-row">
      <input type="password" id="new_password" name="new_password" placeholder="New Password">
      <button type="button" id="dola" class="eye-btn">👁️</button>
  </div>

  <label for="confirm_password">CONFIRM NEW PASSWORD</label>
  <div class="field-row">
      <input type="password" id="confirm_new_password" name="confirm_password" placeholder="Confirm Password">
      <button type="button" id="confirm_dola" class="eye-btn">👁️</button>
  </div>

  <button type="button" id="enter-new-password" class="submit-btn">SUBMIT</button>
</form>



</div>
<script>
const otp_field = document.querySelector('#OTP-field')

const new_password = document.querySelector('#new_password')
const confirm_password = document.querySelector('#confirm_password')
async function send_new_password(emailval,newPasswordVal) {
    let response = await fetch('/api/dashboard/reset_password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({email: emailval, new_password: newPasswordVal})
    });
    let data = await response.json();
    return data;
  }
async function send_OTP(otpval) {
    let response = await fetch('/api/dashboard/verify_otp', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({otp:otpval})
      
    });
    let otp_data = await response.json()
    console.log(otp_data)
    return otp_data;
    
    
  }
let failure = document.createElement("p");
const forgot_password = document.querySelector('#forgot-password')

const email = document.querySelector('#email')
const otp = document.querySelector('#otp')
const enter_otp = document.querySelector('#enter-otp')
const enter_new_password = document.querySelector('#enter-new-password')
failure.textContent="WRONG EMAIL"
let otp_failure = document.createElement("p")
otp_failure.textContent = "WRONG OTP"
async function send_forgot_password(emailVal) {
    let response = await fetch('/api/dashboard/forgot_password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ email: emailVal})
    });
    let data = await response.json();
    return data;
  }
const submit = document.querySelector('#enter-email')
submit.addEventListener('click',async (event)=>{
    event.preventDefault();
    let result = await send_forgot_password(email.value);
    if(result.success == false){
        const username_failure = document.createElement("p")
        username_failure.textContent = result.message
        forgot_password.appendChild(username_failure)
        return;
    }
    else{
        document.getElementById('OTP-field').style.display = 'block'
        document.getElementById('forgot-password').style.display = 'none'
        enter_otp.addEventListener('click', async (event)=>{
        event.preventDefault();
        let result_otp = await send_OTP(otp.value);
        console.log(result_otp)
        if(result_otp.success == false){
            
            document.getElementById('forgot-password').style.display = 'block'
            
            forgot_password.appendChild(otp_failure)
            return;
        }
        else{
            document.getElementById('Reset_password').style.display = 'block'
            document.getElementById('OTP-field').style.display = 'none'
            document.getElementById('forgot-password').style.display = 'none'
            const dola = document.querySelector('#dola')
            const confirm_dola = document.querySelector('#confirm-dola')
            let first_click = true;
            dola.addEventListener('click', () =>{
                if(first_click){
                document.getElementById('new_password').type = 'text'
                first_click = false;
                }
                else{
                    document.getElementById('new_password').type = 'password'
                    first_click = true;
                }
            })
            
            confirm_dola.addEventListener('click', () =>{
                if(first_click){
                document.getElementById('confirm_password').type = 'text'
                first_click = false;
                }
                else{
                    document.getElementById('confirm_password').type = 'password'
                    first_click = true;
                }
            })
            
              enter_new_password.addEventListener('click', async (event) =>{
                event.preventDefault();
                if(new_password.value != confirm_password.value){
                    alert("Passwords do not match. Please try again.")
                    return;
                }
                else{
                  let result_new_password = await send_new_password(email.value,new_password.value)
                if(result_new_password.success == false){
                    alert("Failed to reset password. Please try again.")
                    return;
                }
                else{
                    alert("Password reset successful! Redirecting to signin page.")
                    window.location.href = "/signin";
                }
                }
                
              })

            
            
    }
  });


    }


    
})


</script>
{%endblock%}