{% extends 'base.html' %}

{% block content %}
<div class="forgot-password-container">
  <h1>Login Page</h1>
  
  <form method="POST" id = "forgot-password" action="{{ url_for('signin') }}">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    
    <label for="email">email</label>
    <input type="email" id="email" name="email">
    
    <button type="button" id="enter-email">SUBMIT</button>
    
  </form>
  <form method = 'POST' id = "OTP-field" style= "display:none"    >
    <label for="otp">OTP</label>
    <input type="text" id="otp" name="otp">
    <button type="button" id="enter-otp">SUBMIT</button>
  </form>
  <form method = 'POST' id = "Reset_password" style = "display:none">
    label for="Password">ENTER NEW PASSWORD</label>
    <input type="text" id="new_password" name="otp">
    label for="re-enter">CONFIRM NEW PASSWORD</label>
    <input type="text" id="confirm_password" name="otp">
    <button type="button" id="enter-new-password">SUBMIT</button>



</div>
<script>
async function send_OTP(otp,username) {
    let response = await fetch('/api/dashboard/verify_otp', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({otp:otp,username:username})
      
    });
    let otp_data = await response.json()
    return otp_data;
    
    
  }
let failure = document.createElement("p");
let forgot_password = document.querySelector('#forgot-password')
const username = document.querySelector('#username')
const email = document.querySelector('#email')
const otp = document.querySelector('#otp')
const enter_otp = document.querySelector('#enter-otp')
failure.textContent="WRONG EMAIL"
let otp_failure = document.createElement("p")
otp_failure.textContent = "WRONG OTP"
async function send_forgot_password(userVal,email) {
    let response = await fetch('/api/dashboard/forgot_password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ username: userVal,user_email:email})
    });
    let data = await response.json();
    return data;
  }
const submit = document.querySelector('#enter-email')
submit.addEventListener('click',async ()=>{
    event.preventDefault();
    let result = await send_forgot_password();
    if(result.success == false){
        forgot_password.appendChild(failure)
        return;
    }
    else{
        document.getElementById('OTP_field').style.display = 'block'
        document.getElementById('forgot-password').style.display = 'block'
        enter_otp.addEventListener('click', async ()=>{
        event.preventDefault();
        let result_otp = send_OTP();
        if(result_otp.success == false){
            document.getElementById('forgot-password').style.display = 'block'
            forgot_password.appendChild(otp_failure)
            return;
        }
        else{
            
        }
  });


    }


    
})
const new_password = document.querySelector('#new_password')
const confirm_password = document.querySelector('#confirm_password')

</script>
{%endblock%}